
{{- $plugins := list "colored-man-pages" "cp" "extract" "git" "zsh-autosuggestions" "zsh-syntax-highlighting" -}}

# Set default plugins
plugins=(
  {{ $plugins | sortAlpha | uniq | join "\n  " }}
)

# additional plugins installed only if associated tool is installed
# AWS CLI
command -v aws > /dev/null && plugins+=(aws)

# Docker
command -v docker > /dev/null && plugins+=(docker)

# Kubernetes
command -v kubectl > /dev/null && plugins+=(kubectl)

# Python
command -v python > /dev/null && plugins+=(python)

# Terraform
command -v terraform > /dev/null && plugins+=(terraform)