---
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-added-large-files
          - id: check-byte-order-marker
          - id: check-case-conflict
          - id: check-json
            exclude: ".tmpl$|^home/.chezmoitemplates/"
          - id: check-merge-conflict
          - id: check-symlinks
          - id: check-xml
            exclude: ".tmpl$|^dotfiles/.chezmoitemplates/"
          - id: check-yaml
            exclude: ".tmpl$|^dotfiles/.chezmoitemplates/"
          - id: destroyed-symlinks
          - id: detect-private-key
          - id: end-of-file-fixer
          - id: fix-byte-order-marker
          - id: mixed-line-ending
          - id: trailing-whitespace

    - repo: https://github.com/igorshubovych/markdownlint-cli
      rev: v0.47.0
      hooks:
          - id: markdownlint

    - repo: https://github.com/adrienverge/yamllint.git
      rev: v1.35.1
      hooks:
          - id: yamllint
            args: [--format, parsable, --strict]

    - repo: https://github.com/zricethezav/gitleaks
      rev: v8.23.3
      hooks:
          - id: gitleaks

    - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
      rev: 3.2.0
      hooks:
          - id: editorconfig-checker
            alias: ec
