
{{- /* Tap repositories */ -}}
{{- $taps := list
  "homebrew/bundle"
  "homebrew/cask-versions"
  "buo/cask-upgrade"
  "lotyp/homebrew-formulae"
-}}

{{- /* Formula to install */ -}}
{{- $formula := list
  "bat"
  "chezmoi"
  "fzf"
  "git"
  "golang"
  "jq"
  "mas"
  "openssl"
  "pre-commit"
  "tree"
  "wget"
 -}}

{{- if .personal -}}
{{- $formula = concat $formula ( list
  "lotyp/formulae/dockutil"
  "exiftool"
  "mpg123"
  "php" )
-}}
{{- end -}}

{{- if not .personal -}}
{{- $formula = concat $formula ( list
  "terraform" )
-}}
{{- end -}}

{{- /* Casks to install */ -}}
{{- $casks := list -}}
{{- $casks = concat $casks ( list
  "1password"
  "1password-cli"
  "alfred"
  "bartender"
  "docker"
  "google-chrome"
  "hazel"
  "logi-options-plus"
  "iterm2"
  "itsycal"
  "visual-studio-code"
  "zoom" )
-}}

{{- if .personal -}}
{{- $casks = concat $casks ( list
  "dropbox"
  "slack"
  "photosweeper-x"
  "photosync"
  "spotify"
  "quicken" )
-}}
{{- end -}}


{{- /* Taps */ -}}
{{- range ( $taps | sortAlpha | uniq ) }}
tap "{{ . }}"
{{- end }}

{{- /* Formula */ -}}
{{- range ( $formula | sortAlpha | uniq ) }}
brew "{{ . }}"
{{- end }}

{{- /* Casks */ -}}
{{- range ( $casks | sortAlpha | uniq ) }}
cask "{{ . }}"
{{- end }}

{{- /* MacOS App Store */ -}}
{{ if eq .env.os "darwin" }}
mas "1Password for Safari", id: 1569813296
{{   if .personal -}}
mas "JSON Helper for ApplesScript", id: 453114608
mas "Microsoft To Do", id: 1274495053
mas "Paprika Recipe Manager 3", id: 1303222628
mas "Rakuten Cash Back", id: 1451893560
{{   end -}}
{{ end -}}
